@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: hsl(0, 0%, 98%);
}

.navbar {
    z-index: 1000;
}

.btn {
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}